<h1>Pagina di dettaglio del corso</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Placeat et voluptatibus eos accusantium dolorum eveniet
    nihil inventore quaerat, impedit asperiores.
</p>